.left-nav {
  text-align: left;
  background-image: url("https://i.pinimg.com/564x/92/d4/c8/92d4c822545ce1939d5e2545ae838596.jpg");
  background-size: cover;
  background-color: black;
  padding: 0;
}

.photo-upload {
  border: solid;
  border-color: black grey grey black;
}

/* Owner Details */

.signup-info {
  padding: 0;
}

.owner-info {
  padding: 10% 5rem 5rem 5rem;
  text-align: center;
}

.name {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 1rem 2rem;
}

.name input {
  width: 60%;
  padding: 0.5rem 1rem;
  border-color: cadetblue;
}

.name label {
  font-weight: 700;
}

.owner-row {
  padding: 2rem;
  margin: 0;
}
