.pricing{
  background-color: #C38154;
}

#pricing {
  padding: 7% 10%;
}

#pricing .card{
  transition: all 0.3s ease-in-out;
}

#pricing .card:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-header img{
  height: 15rem;
}

.price-column {
  padding: 2rem 1rem;
}

.pricing-line {
  padding: 0 15% 2%;
}

.signup-btn {
  text-decoration: none;
  color: #fff;
}

.signup-btn:hover {
  color: #aaaaaa;
}

.p-button {
  padding: 0 30%;
  border: 2px solid black;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.p-button:hover{
  background-color: #C38154;
  color: black;
}

.p-button i{
  font-size: 1rem;
}
