.ftr img{
  height: 33rem;
}

.ftr .card{
  border-radius: 0;
}

.logo-footer img{
  height: 4rem;
  object-fit: contain;
}

.footer-links{
  padding-top: 3rem;
}

.footer-links a{
  color: white;
  text-decoration: none;
}