.car-animal img{
  height: 35rem;
  border-radius: 5px;
}

.car-animal{
  border-radius: 5px;
}

.feature-right{
  padding: 1rem;
}

.features-time {
  background-color: #C38154;
}

.carousel-caption{
  background-color: #C38154;
}

.clock{
  margin-bottom: 2rem;
}

.timing {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.animals{
  display: flex;
  justify-content: space-evenly;
}
